<div>
  <%= @game.player_defense.name %> attacked <%=@game.player_attack.name%>!
</div>
<div>
<form action = "/play" method = "get">
  <input id = "proceed" type = "submit" value = "Proceed" />
</form>
</div>
