<h1> Battle </h1>
<h2> Enter player names to begin </h2>
<form action='/names' method='post'>
  <div>
    <label for="player1">Player 1 name:</label>
    <input id="player1" type = 'text'  name="p1name"/>
  </div>
  <div>
    <label for="player2">Player 2 name:</label>
    <input id="player2" type = 'text' name="p2name"/>
  </div>
  <div>
    <input id='Submit' type = 'submit' value = 'submit'/>
  </div>
</form>
