<div>
  <%= @p1name %> vs. <%= @p2name %>
</div>
<div>
  <%= @p2name %>: <%= 100 %>HP
</div>


<div>
  <form action = "/attack" method = "get">
    <input id='attack' type = 'submit' value = 'Attack!'/>
  </form>
</div>
