<div>
  <%= @player1.name %> vs. <%= @player2.name %>
</div>
<div>
  <%= @player2.name %>: <%= @player2.health %>HP
</div>


<div>
  <form action = "/attack" method = "get">
    <input id='attack' type = 'submit' value = 'Attack!'/>
  </form>
</div>
