<div>
  Player 1: <%=@player_1.name%> vs Player 2: <%=@player_2.name%>
</div>

<div>
  <%=@player_2.name%> HP: <%=@player_2.hp %>
</div>

<form action="/fight" method = "get">
  <input type = "submit" value = "Attack!" id = 'attack'>
</form>
